@using WebApp.ViewModels;
@model Proyector;
@{
    ViewData["Title"] = "Modificar Proyector";
}


<div class="container">
    <h1 class="display-5 mb-3">Información del proyector número: @Model.Id</h1>
    <div class="row">
        <form asp-controller="Home" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mt-3">
                <div class="form-group mb-3">
                    <label class="form-label" asp-for="Marca">Marca del Proyector:</label>
                    <input type="text" class="form-control" asp-for="Marca" id="Marca" />
                    <span asp-validation-for="Marca" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label" asp-for="Modelo">Modelo:</label>
                    <input type="text" class="form-control" asp-for="Modelo" id="Modelo" />
                    <span asp-validation-for="Modelo" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label" asp-for="NumeroDeSerie">Número de Serie:</label>
                    <input type="text" class="form-control" asp-for="NumeroDeSerie" id="NumeroDeSerie" />
                    <span asp-validation-for="NumeroDeSerie" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group mb-3">
                    <label class="form-label" asp-for="FechaDeAlta">Fecha de Alta:</label>
                    <input type="date" class="form-control" asp-for="FechaDeAlta" id="FechaDeAlta" />
                </div>

                <div class="form-group mb-3">
                    <label class="form-label" asp-for="Situacion">Situación del Proyector</label>
                    <select class="form-select" asp-for="Situacion" id="Situacion">
                        <option value="1">Bueno</option>
                        <option value="2">Regular</option>
                        <option value="3">Malo</option>
                    </select>
                </div>
            </div>

            <div class="row mt-1">
                <div> 
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancelar </a>
                </div>
            </div>
        </form>
    </div>
</div>